.sidebar {
  background-color: aliceblue;
  min-height: 1000px;
}

.menu {
  background-color: aqua;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 70px;
}

.menuItem {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  margin-left: 43px;
}
.link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
}
